[submodule "ModernEngine/vendor/spdlog"]
	path = ModernEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ModernEngine/vendor/GLFW"]
	path = ModernEngine/vendor/GLFW
	url = https://github.com/canturkmen/glfw
