[submodule "ModernEngine/vendor/spdlog"]
	path = ModernEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ModernEngine/vendor/GLFW"]
	path = ModernEngine/vendor/GLFW
	url = https://github.com/canturkmen/glfw
[submodule "ModernEngine/vendor/imgui"]
	path = ModernEngine/vendor/imgui
	url = https://github.com/canturkmen/imgui
    	branch = docking
[submodule "ModernEngine/vendor/glm"]
	path = ModernEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "ModernEngine/vendor/yaml-cpp"]
	path = ModernEngine/vendor/yaml-cpp
	url = https://github.com/canturkmen/yaml-cpp
[submodule "ModernEngine/vendor/ImGuizmo"]
	path = ModernEngine/vendor/ImGuizmo
	url = https://github.com/canturkmen/ImGuizmo
[submodule "ModernEngine/vendor"]
	url = https://github.com/canturkmen/ImGuizmo
[submodule "ModernEngine/vendor/Box2D"]
	path = ModernEngine/vendor/Box2D
	url = https://github.com/canturkmen/box2d
[submodule "ModernEngine\\vendor\\msdf-atlas-gen"]
	path = ModernEngine\\vendor\\msdf-atlas-gen
	url = https://github.com/canturkmen/msdf-atlas-gen
