# Binaries
**/bin/
intermediate/
Intermediates/

# ModernEngine files	
*.log

# VS Files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

#Directories
ModernEngine/vendor/VulkanSDK
scripts/__ppycachce__
*.json
