[submodule "ModernEngine/vendor/spdlog"]
	path = ModernEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ModernEngine/vendor/GLFW"]
	path = ModernEngine/vendor/GLFW
	url = https://github.com/canturkmen/glfw
[submodule "ModernEngine/vendor/imgui"]
	path = ModernEngine/vendor/imgui
	url = https://github.com/canturkmen/imgui
    	branch = docking
[submodule "ModernEngine/vendor/glm"]
	path = ModernEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "ModernEngine/vendor/yaml-cpp"]
	path = ModernEngine/vendor/yaml-cpp
	url = https://github.com/canturkmen/yaml-cpp
